// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.mobile_menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 20;
    overflow-y: auto;

    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.close_button {
    border: none;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50px;
    left: 20px;
}


.nav_wrapper {
    padding: 20px 0;
}

.nav_list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    flex-wrap: wrap;
}

.nav_item {
    position: relative;

    a {
        font-weight: 600;
        font-size: 1.25rem;
        transition: color var(--transition);
    }

    a:hover {
        color: var(--hover);
    }

    &:hover {
        .submenu_list {
            opacity: 1;
            visibility: visible;
        }
    }
}

.submenu_list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.submenu_item {
    padding: 5px 0;

    a {
        display: block;
    }
}

.logo_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;

    img {
        width: 160px;
        height: 48px;
    }
}


.phone_link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    margin-top: 20px;

    transition: color var(--transition);

    &:hover {
        color: var(--hover);
    }
}

.primary_button {
    background: var(--button-gradient);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 20px;

    &:hover {
        color: var(--hover);
        background: white;
        border: 1px solid var(--hover);
    }
}

.address_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}