// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.about {
    @include adaptiv-value("margin-top", 100, 50);
}

.about__wrapper {
    @include adaptiv-value("padding-top", 54, 30);
    border-top: 1px solid var(--gray);

    display: grid;
    grid-template-columns: 390px 1fr 390px;
}

.about__item {
    border-radius: 20px;
    background-image: url("/bg/about-item_bg.webp");
    background-size: cover;
    background-position: center;

    position: relative;
    padding: 25px;
    min-height: 216px;

    h3 {
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    p {
        @include adaptiv-value("font-size-top", 18, 14);
        color: var(--text-gray);
    }
}

.about__item:nth-child(1),
.about__item:nth-child(2) {
    margin-bottom: 220px;
}

.about__item_info {
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about__item_info_img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    h2 {
        font-size: 40px;
        color: #ffffff;
        max-width: 430px;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #fff;
        max-width: 430px
    }
}

.about__item_svg {
    position: absolute;
    top: 0;
    right: 0;
}